workflow.json.json
{
  "name": "AI Job Offer Analyzer",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        96,
        240
      ],
      "id": "26332d28-4415-4ef1-a703-8ba33fee453d",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "PBitdQJ7lgCXdTGp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "de9fdfe8-7056-4af0-89f7-a97a6a123987",
              "leftValue": "={{ $json.isRelevant }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        400,
        0
      ],
      "id": "f9a441cb-4d5e-49df-80db-2e20fa38dfe9",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const parsed = JSON.parse($json.text);\n\nreturn {\n  json: {\n    ...$json,\n    ...parsed\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "d6457f73-fb4b-4d0a-8db1-9b12dd003fb8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -416,
        0
      ],
      "id": "edcd7dab-4f60-4cca-affd-7ca260077ae7",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://weworkremotely.com/remote-jobs.rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -256,
        0
      ],
      "id": "b1611eb7-8f6f-46a2-877b-8ac226b91fe3",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an assistant that summarizes remote job offers.\n\nHere is the job post:\n\nTitle: {{ $json.title }}\nDescription: {{ $json.content }}\nLink: {{ $json.link }}\n\nGenerate a professional structured summary in JSON format, in spanish.\n\nReturn ONLY valid JSON without backticks.\n\n{\n  \"title\": \"\",\n  \"company\": \"\",\n  \"short_summary\": \"\",\n  \"why_relevant_for_data_analytics_profile\": \"\",\n  \"key_requirements\": \"\"\n}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        640,
        -16
      ],
      "id": "21d67cea-9e36-4348-a899-238dca993a06",
      "name": "Basic LLM Chain_Generator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI job relevance classifier.\n\nYour task is to analyze the job posting and determine if it matches the following profile.\n\nTarget Profile:\n- Degree in Data Analytics or equivalent experience\n- creating reports in a BI tool\n- professional experience writing queries in SQL\n\nJob Title:\n{{ $json.title }}\n\nJob Description:\n{{ $json.content }}\n\nRespond ONLY with the following format:\n{\n  \"isRelevant\": true or false,\n  \"reason\": \"short explanation in one sentence\"\n}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -80,
        0
      ],
      "id": "d9312939-c7f7-476a-89bd-f844af6c5222",
      "name": "Basic LLM Chain_Classifier",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const raw = $json.text || \"\";\n\ntry {\n  const clean = raw.replace(/```json|```/g, '').trim();\n  const parsed = JSON.parse(clean);\n\n  return {\n    json: {\n      title: parsed.title || \"No title available\",\n      company: parsed.company || \"Company not specified\",\n      short_summary: parsed.short_summary || \"No summary provided.\",\n      why_relevant_for_data_analytics_profile:\n        parsed.why_relevant_for_data_analytics_profile || \"Relevance explanation not available.\",\n      key_requirements: parsed.key_requirements || \"Requirements not specified.\"\n    }\n  };\n\n} catch (error) {\n  return {\n    json: {\n      title: \"Error parsing job\",\n      company: \"-\",\n      short_summary: \"The AI output could not be parsed.\",\n      why_relevant_for_data_analytics_profile: \"-\",\n      key_requirements: \"-\"\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        -16
      ],
      "id": "6c79943c-f393-4d86-9cbc-605d331fd650",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "sendTo": "sof.babrauskas@gmail.com",
        "subject": "=Postulate ya a {{$json.title}} !",
        "message": "=<h2 style=\"color:#1a73e8;\">🚀 Nueva oferta relevante detectada</h2>\n\n<p>Hola Sofía 👋</p>\n\n<p>Encontramos una nueva oportunidad que hace <strong>match con tu perfil en Data Analytics</strong>.</p>\n\n<hr>\n\n<h3>📌 {{$json.title}}</h3>\n<p><strong>🏢 Empresa:</strong> {{$json.company}}</p>\n\n<br>\n\n<h4>📝 Resumen del rol</h4>\n<p>{{$json.short_summary}}</p>\n\n<br>\n\n<h4>🎯 ¿Por qué es relevante para tu perfil?</h4>\n<p>{{$json.why_relevant_for_data_analytics_profile}}</p>\n\n<br>\n\n<h4>🛠 Requisitos clave</h4>\n<p>{{$json.key_requirements}}</p>\n\n<hr>\n\n<p style=\"font-size:12px; color:gray;\">\nWorkflow automático en n8n • Clasificado por IA • {{ $now }}\n</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1152,
        -16
      ],
      "id": "2675f2d0-0894-4834-9f03-61b1b6748a34",
      "name": "Send a message",
      "webhookId": "907c2d64-770c-4777-9363-be168dc2863c",
      "credentials": {
        "gmailOAuth2": {
          "id": "TPC2RrFuqCYJfUo3",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain_Classifier",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Basic LLM Chain_Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Basic LLM Chain_Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Basic LLM Chain_Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain_Classifier": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain_Generator": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2c20458a-37d6-4fd5-9f77-746fbb5b6c78",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bc022dde95e4db00f4bcc80ee361d3b77efc1587fd9af71bf9615d45da2537c9"
  },
  "id": "Joh0i0ALIlLcjBhf",
  "tags": []
}